*{
    font-family:sans-serif;
}
.container{
    display: flex;
    margin-top: 0px;
}
.leftHeader{
    width:15%;
    height: 50px;
}
.toggle{
    /* visibility:hidden; */
    display: none;
}
#toggle-search{
    display: none;
}
#toggle-notification{
    display: none;
}
#toggle-notificationn{
    display: none;
}
.leftHeader h2{
    margin-top: 10px;
    margin-left: 20px;
}
.rightHeader{
    width: 85%;
    height: 50px;
    display: flex;
    border-left: 2px solid #dddde0;
    border-bottom: 2px solid #dddde0;
    margin-left: 0px;
    padding-bottom: 5px;
}
.search{
    width: 90%;
    height: 50px;
    padding-left: 0px; 
    border: 1px solid white;
}
.search input{
    letter-spacing: 0.4px;
}
.search div{
    margin-left:4px ;
    margin-right: 50px;
}
.search div i{
    margin-left: 10px;
}
.headimage{
    padding-top: 7px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#headerPartition{
    display: none;
}
.leftSideBar{
    display:flex;
    background-color: rgb(28, 34, 55);
    justify-content: center;
    width: 15%;
    margin-top: 0px;
  
}
a{
    text-decoration: none;
    list-style: none;
    color: #7685B6;
}
a:active{
    background-color: #2a8ddf;
    color: white;
}
.leftSideBar ul{
    color: rgb(118,133,182);
    
    list-style: none;
    margin-left:auto;
    margin-right: auto;
    padding: 0px;
}
li:hover{
    background-color:rgb(77,90,255) ;
    color: white;
}
/* li:active */
.li{
    margin: 10px;
    font-size: 20px;
    font-weight: 400;
    height: 40px;
    width: 100px;
    display: flex;
    justify-content: center;
    border-radius:8% ;
}
.rightSideBar{
    background-color: white;
    margin-top: 0px;
    width: 85%;
    /* margin-left: 20px; */
}
.heading{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 30px;
}
.form{
    margin-top: 20px;
    color: #67676a;
}
.title{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: 50px;
    border: none;
    box-shadow: 2px 2px 2px #dddde0;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #dddde0;
}
.section{
    display: flex;
    margin-top:20px ;
}
.leftForm{
   width: 50%;
}
.rightForm{
    width: 50%;
}
.smallbox{
    height: 35px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    /* border: 2 px solid #dddde0; */
    border: none;
    box-shadow: 2px 2px 2px #dddde0;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 500;
    border: 2px solid #dddde0;
}
.label{
    box-shadow: none;
    border: none;
    font-size: larger;
    font-weight: bold;
}
option{
    height: 0px;
    width: 0px;
}
/* .select{
    margin-top: 5px;
    margin-bottom: 5px;
} */
.submit{
    margin-left: 60%;
    margin-top: 20px;
    height: 50px;
    width: 150px;
    color: white;
    border: 2px solid rgb(66, 66, 216);
    border-radius: 4px;
    font-size:larger;
    background-color: rgb(66, 66, 216);
}
@media only screen and (max-width:700px){
    #headerPartition{
        display: block;
        margin: 0;
        padding-bottom: -20px;
        color: #646367;
        
    }
.issues{
    display:list-item;
    width: 100%;
}
.toggle{
    display: block;
    width: 50px;
    height: 50px;
    font-size:large;
    font-weight: bolder;
    color: #122cd7;
    background-color: white;
    border: 0px;
    margin-top: 10px;
    font-size: 30px;
    margin-left: 10px;

}
/* .toggle-right{
    margin-left: 40%;
} */
.toggle-heading{
    margin-left: 20px;
    margin-top: 10px;
    padding-top: 8px;
    color: black;
    font-size: 25px;
}
#toggle-search{
    display: block;
    margin-left: 50%;
    margin-top: 12px;
    padding-top: 8px;
    color: #8c9297;
    font-size: 25px;
}
#toggle-notification{
    display: block;
    margin-left: 5%;
    margin-top: 12px;
    padding-top: 8px;
    color: #8c9297;
    font-size: 25px;
}
#toggle-notificationn{
    display: block;
    margin-left: 5%;
    margin-top: 12px;
    padding-top: 8px;
    color: #8c9297;
    font-size: 25px;
    margin-right: 0;
}
.headerimg{
    display: none;
}
.leftHeader{
    display:none ;
    /* visibility: hidden;
    height: 0px; */
    /* width: 0px; */
}
.rightHeader{
    margin-right: 20%;
}
.leftSideBar {
    display: none;
    /* visibility: hidden; */
    /* height: 0px; */
    width: max-content;
}
.rightSideBar{
    width: 90%;
    margin-right: 0%;
}
.container .rightHeader .rightSideBar{
    height: 100%;
    width: 100%;

}
.search{
    display: block;
    visibility: hidden;
}
.rightHeader{
    border: 0px;
}

.title{
    width: 350px;
}
.section{
    display: inline;
}

.smallbox{
    width: 350px;
}
}